* {
    box-sizing: border-box;
}

body {
    background-color: firebrick;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sketchpad {
    background-color: black;
    min-height: 80vh;
    min-width: 85vw;
    display: grid;
    gap: 1px;
}

.sketchpad div {
    background-color: white;
}